.btn-container{
  width: 100%; 
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.cancel{
  padding: .5em;
  border: 2px solid #4A4C5F;
  border-radius: 6px;
}

.add{
  padding: .5em;
  background-color: #353748;
  border-radius: 6px;
}

.active{
  background-color: #FF7451;
}

.disabled{
  background-color: #7F828F !important;
  opacity: .5;
  pointer-events: none;
}
