.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info-area{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 3em;
}

.info-area img{
  height: 300px;
}

.info{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FAFAFE;
  gap: 1em; 
  align-items: center;
}
.info h1{
  font-size: 24px;
  font-weight: 700; 
}
.info p{
  color: #7F8191; 
}
.info p span{
  color: #FAFAFE;
  font-weight: 700; 
}
.info .link{
  color: #FAFAFE;
  background-color: #FF7451; 
  padding: .5em; 
  border-radius:8px; 
  width: 50%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: .5em;
  margin-top: 1.5em;
  text-decoration: none;
}
.info .link span{
  font-weight: 700; 
}

.info .link svg path{
  fill: white;
}
