.container{
  cursor: pointer;
  position: relative;
}


.container img:nth-child(2){
  width: 20px;
  height: 20px;
}

.container-main{
  display: flex;
  align-items: center;
  gap: 1em; 
  padding:.3em; 
  border-radius: 4px; 
}

.container-main:hover{
  background-color: #262837;
}

