.container{
  position: fixed; 
  right: 0; 
  top: 0;
  background-color: #ff7451;
  height: 100%; 
  width: 45%;
  overflow: hidden;
}

.app{
  animation: pulse 4s infinite ease-in-out; 
  display: flex;
  justify-content: center;
  position:absolute;
  top: 50%; 
  left: 50%;
  
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%)
  }
  50%{
    transform: translate(-50%, -66%)
  }
  100% {
    transform: translate(-50%, -50%)
  }
}

.brand{
  position: absolute;
  transform: translate(-50%, -50%) scale(1.3) ;
  top: 40%;
  left: 50%;

}