.btn-container {
  position: relative;
  /* background-color: red; */
  width: 40%;  
  height: 39.5px;  
  overflow: hidden;
  /* background-color: #262837; */
  /* border: 2px solid #4A4C5F; */
  border: 1px solid #FAFAFE;
  border-radius: 4px;
  color: #FAFAFE; 
}
.btn-container:hover{
  border: 1px solid #FF7451;
  color: #FF7451; 
}
.btn-container span{

  pointer-events: none;
  position: absolute;
  top:50%; 
  left:50%; 
  /* left:10px;  */
  transform:translate(-50%, -50%); 
}
.file-input{
  
  opacity: 0;
  width: 100%; 
  height: 100%; 
  position: relative;
}

.thumb{
  border-radius: 4px; 
}

.image-container{
  /* background-color: red; */
  position: relative;
  display: flex;
}
.image-container img{
  width: 100%; 
  opacity: .4;
}
.image-container svg{
  cursor: pointer;
  position: absolute; 
  right: 0; 
}
.image-container svg:hover path{
  fill: #FF7451;
}
.image-container svg path{
  fill: #FAFAFE;
}
.zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em; 
  padding: 2em; 
  border-radius: 8px; 
  outline: 2px dashed #FF7451;
  stroke-dashoffset: 100;
}

.zone__on-drop{
  background-color: rgba(255, 116, 82, .3);
}