.form{
  color: white; 
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #353748; 
  padding:2em;
  border-radius: 8px;  
  gap: 1em; 
  box-shadow: 18px 10px 56px 10px rgba(2, 2, 3, 0.86);
  -webkit-box-shadow: 18px 10px 56px 10px rgba(16, 14, 27, 0.86);
  -moz-box-shadow: 18px 10px 56px 10px rgba(0, 0, 0, 0.86);
  overflow: auto;
  height: 600px; 
}

.form label:not(.textarea-label){
  display: flex;
  flex-direction: column;
  gap: .5em; 
}

.form label input, textarea{
  border: none; 
  outline: none;
  border-radius: 4px; 
  padding: 10px;
  background-color: #262837;
  color: #FAFAFE;
  border: 2px solid #4A4C5F;
}

.check-box label{
  flex-direction: row !important;
  gap: 1em;
  cursor: pointer; 
  align-items: center;
}
.check-box label:hover{
  background-color: #383b4e;
}
.check-box{
  display: flex;
  flex-direction: column;
  border: 2px solid #4A4C5F;
  background-color: #262837;
  padding: .5em; 
  border-radius:4px; 
}
.check-box > *{
  padding: .5em 0; 

}
.check-box input{
  position: absolute;
  opacity: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check-box input + span:before {
  content: "";
  background-image: url("../../img/noCheck.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16pt;
  padding: 2px 0 0 3px;
  margin-right: 0.5em;
}

.check-box input:checked + span:before {
  content: '';
  background-image: url("../../img/check.svg");
}
.check-box input:checked + span{
  color: #FF7451; 
}

.check-box label{
  position: relative;
  
}

.check-box span:before{
  content: ""; 
  background-image: url("../../img/noCheck.svg");
  background-size: contain;
  background-position: center;
  width: 12px; 
  height: 12px; 
}
.check-box input:focus  + label{
  color: red; 
}

.form label textarea{
  margin-top: .5em;
  height:100px; 
  width: 100%;
  resize: none;
  font-family: inherit;
  
}
.form > * {
  flex-shrink: 0;
  
}

.btn{
  background-color: #FF7451;
  padding:.5em;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 1em;
}

.select{
  display: grid;
  appearance: none;
  padding: .5em;
  border-radius: 4px;
  margin: 0;
  color: #FAFAFE;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  cursor: pointer;
  background-image: url(../../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 50%;

  background-color: #262837;
  border: 2px solid #4A4C5F;
}

.select option{
  color: #FAFAFE !important;
}
.select option:checked, .select option:hover{
  box-shadow: 0 0 10px 100px #000 inset !important;
}
