.t-header .more{
  position: relative;
  vertical-align: sub;
  background-color: #353748;
	color: inherit;
	border: none;
	padding: .3em 0;
  width: 100%;
	cursor: pointer;
	outline: inherit;
  border-radius: 4px; 
  display: flex;
  justify-content:center; 
  align-items: center; 
  margin-top: .5em;
  -webkit-transition: background-color  .3s ease-in-out, opacity  .3s ease-in-out;
  -moz-transition: background-color  .3s ease-in-out, opacity  .3s ease-in-out;
  -o-transition: background-color  .3s ease-in-out, opacity  .3s ease-in-out;
  transition: background-color  .3s ease-in-out, opacity  .3s ease-in-out;
  
}



.t-header .more svg{
  width: 20px;
  height: 100%;

}

.t-header .more:hover{
  background-color: #FF7451;
}

.t-header .more:hover path{
  fill: white;
}

table tr:hover .t-header .more{
  opacity: 1 !important; 
}

.transparent{
  opacity: 0; 
}

.hidden{
  display: none !important; 
  
}

.row-actions{
  left: 40px;
  top: 50%;
  transform: translate(0,-50%);
  position: absolute;
  width: 106px;
  background-color: #353748; 
  display: flex;
  flex-direction: column;
  padding: 0 0 !important; 
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  color: white; 
  box-shadow: 18px 10px 56px 10px rgba(31,29,44,0.73);
  -webkit-box-shadow: 18px 10px 56px 10px rgba(31,29,44,0.73);
  -moz-box-shadow: 18px 10px 56px 10px rgba(31,29,44,0.73);
}

.row-actions button{
  width:100%; 
  text-align: left;
  padding:.8em 1.5em; 

}

.row-actions button:hover{
  background-color: #4F5163;
}

.ul{
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.evidence-img{
  max-width: 500px;
  max-height: 300px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}
.evidence-img:hover{
  opacity: 0.5;
}


