*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1F1D2C;
  font-family: 'Lato', sans-serif;
}

.reset-btn{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hidden{
 display: none;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #FF7451;
}

::selection {
  color: white;
  background: #FF7451;
}